.AttemptPage {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: gray;
}

/* 2 cols, 3 rows grid */
.gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal sized columns */
    grid-template-rows: repeat(3, minmax(100px, auto)); /* Rows with a minimum height */
    gap: 10px;
    padding: 20px;
}

.gridItem {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: left;
    resize: none;
}

.functionText {
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.readOnlyText {
    overflow-y: auto; /* vertical scrollbar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners (looks nice) */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow-wrap: break-word;
    background-color: #f4f4f4; /* light-grey background (so it looks like you cant input stuff) */
}

.buttonEnabled {
    background-color: white;
    border-radius: 17px;
    border: 5px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    position: relative;
    margin: 25px;
}

.buttonEnabled:hover {
    background-color: lightgrey;
}

.buttonDisabled {
    background-color: lightgrey;
    border-radius: 17px;
    border: 5px solid;
    color: darkgrey;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    position: relative;
    margin: 25px;
}