/* REFFERENCE: https://stackoverflow.com/questions/75781347/how-to-make-one-button-aligned-to-the-left-side-and-one-to-the-right */
/* REFFERENCE: https://www.vecteezy.com/vector-art/26630551-profile-icon-vector-symbol-design-illustration */
/* REFFERENCE: https://iconduck.com/icons/69964/home */
/* REFFERENCE: https://www.flaticon.com/free-icon/back-button_93634 */

.header {
    padding: 20px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
  }

  .headerTitle {
    margin: 0;
    line-height: 1;
  }

  .headerTitleAttempt {
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
  }

.profileButton {
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/630/551/original/profile-icon-symbol-design-illustration-vector.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    background-size: contain;
    background-color: white;
    width: 30px;
    cursor: pointer;
}

.homeButton {
    background-image: url(https://static-00.iconduck.com/assets.00/home-icon-512x487-pbouhbaq.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
    border: none;
    background-size: contain;
    width: 30px;
    cursor: pointer;
}

.returnButton {
  background-image: url(https://cdn-icons-png.flaticon.com/512/93/93634.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
  border: none;
  background-size: contain;
  width: 30px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 10px;
}

.headerSpan {
    display: none;
}
