.questionsButton {
    background-color: white;
    border: solid;
    border-radius: 17px;
    border-width: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px; 
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 75px;
}

.questionsButton:hover {
    background-color: lightgrey;
}
