.logoutButton, .deleteButton {
    background-color: white;
    border: solid;
    border-radius: 17px;
    border-width: 5px;
    color: black;
    padding: 5px 16px;
    text-align: center;
    font-size: 24px; 
    position: relative;
}

.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 75px;
}

.logoutButton:hover {
    background-color: lightgrey;
}

.deleteButton:disabled {
    background-color: lightgrey;
    color: gray;
}

.deleteButton:hover {
    background-color: lightgrey;
}

.changePassword {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.changePassword > * {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.errorLabel {
    color: red;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.inputButton {
    margin-left: 10px;
}

.title {
    font-weight: bold;
}

.gradeDisplay {
    text-align: center;
}

.gradeDisplayTable {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.gradeDisplayTable, .gradeDisplayCell {
    border: 2px solid;
    color: black;
}

.stickers {
    display: block;
    margin: auto;
}

#enabled {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#enabled:before {
    display: block;
}

#oldPassword {
    margin-left: 160px;
}

#newPassword {
    margin-left: 167px;
}

#confirmNewPassword {
    margin-left: 228px;
}